<h1><%= @product.name %></h1>

<% if @product.reviews.any? %>
  <h3>Reviews: </h3>

  <ul>
    <% @product.reviews.each do |review| %>
      <li>
        <%= review.author %>
        <%= review.content_body %>
        <%= review.rating %>
      </li>
    <% end %>
  </ul>

<% else %>
  <p>There are no reviews for this product.</p>

<% end %>

<p><%= link_to "Add a review", new_product_review_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
                        :data => {:confirm => "Confirm delete?",
                                  :method => "delete"} %></p>

<p><%= link_to "Return to Products", products_path %></p>
