<div class="container">
  <h1><%= @product.name %></h1>
  <h3>Country: <%= @product.country_of_origin %></h3>
  <br>
  <nav>
  <button><%= link_to "Home", root_path %></button>
  <button><%= link_to "Add a Review", new_product_review_path(@product) %></button>
  <button><%= link_to "Edit This Blend", edit_product_path(@product) %></button>
  <button><%= link_to "Delete", products_path(@product),
                              :data => {:confirm => "Confirm delete?",
                                :method => "destroy"} %></button>
  <button><%= link_to "Return to Coffee Blends List", products_path %></button>
  </nav>
  <hr>

  <% if @product.reviews.any? %>
    <h3>Reviews: </h3>

        <ul>
          <% @product.reviews.each do |review| %>
          <div class="card">
            <div class="card-body">
              <li style="list-style:none;">
                <em><strong>Author: </strong></em><%= review.author %>
                <br>
                <em><strong>Text: </strong></em><%= review.content_body %>
                <br>
                <em><strong>Rating: </strong></em><%= review.rating %>
                <br>
              </li>
            </div>
          </div>
          <% end %>
        </ul>

    <hr>

  <% else %>
    <p>There are no reviews for this product.</p>

  <% end %>
</div>
